@charset "utf8";
@media all{
  body {
    line-height: 1.2em;
    font-size: 10pt;
    background-color: #fcc;
    color:#003;
  }
  h1 {
    text-align: center;
    padding: 0.5em;
    border-radius: 0.5em;
    background-color: #aaf;
    text-shadow: 0 0 5px white, 0 0 10px white;
  }
  h2 {
    border-top: 1px solid #333;
    padding-top: 0.5em;
    text-shadow: 2px 2px 2px red;
  }
  h3 {
    text-shadow: 1px 1px 1px blue;
  }
  p {
    margin: 0.5em 5px;
    text-indent: 1em;
  }
  q {
    background-color: #aaa;
  }
  footer {
    border-top: 1px solid gray;
    padding-top: 1em;
  }
  address {
    border: 1px solid red;
    border-radius: 5px;
  }
  address:before {
    content: "EDITORS: ";
  }
}